/***************************************************************** TAG SELECTORS********************************************************************/
body{
  background-color: hsl(229, 57%, 11%);
}
a{

  text-decoration: none;
}


/*****************************************************************CLASS SELECTORS***********************************************************************/
.attribution{
  color:white;
  position:absolute;
  left:600px;
    bottom: 0px;
}


.comment{
  background-color: white;
      color: black;
      position: absolute;
      top: 250px;

      right: 480px;
      padding: 20px
}
.options{

  background-color: hsl(228, 56%, 26%);

    width: 300px;
    height: 100px;
    border-radius: 15px 100px 15px 15px;
   position:absolute;
   top: 250px;
   left:350px;
    padding: 40px 0px 40px 40px;
    display: inline-block;

}
.small_icons{
  display: inline-block;
  background-color: hsl(229, 57%, 11%);
  padding: 10px 13px;
  border-radius: 10px;
  margin: 20px 5px;

}
.start{
  float:left;

}
.end{
  float:right;
}
.write{
  background-color: hsl(228, 56%, 26%);
    color: white;
    position: absolute;
    top: 280px;
    left: 740px;
    height: 70px;
    padding: 40px;
    border-radius: 20px;
    width: 400px;

}
.base_img{
  position: relative;
  top: 300px;
  width:100%;

}
