/***************************************************************** TAG SELECTORS********************************************************************/




/*****************************************************************CLASS SELECTORS***********************************************************************/
.options{
  background-color: hsl(229, 57%, 11%);
}
.small_icons{
  display: inline-block;
  float: left;
}
.write{
  background-color: blue;
}
