/***************************************************************** TAG SELECTORS********************************************************************/
body{
  background-color: hsl(229, 57%, 11%);
  margin:0;
}
a{

  text-decoration: none;
}


/*****************************************************************CLASS SELECTORS***********************************************************************/
.attribution{
  position: relative;
    
}
.comment{
  background-color: white;
      color: black;
      position: absolute;
      top: 200px;
      right: 480px;
      padding: 20px
}
.options{

  background-color: hsl(228, 56%, 26%);

    width: 20%;
    height: 100px;
    border-radius: 15px 100px 15px 15px;
    position: absolute;
     top: 180px;
   left:280px;
    padding: 60px 0px 50px 40px;
    display: inline-block;

}
.small_icons{
  display: inline-block;
  background-color: hsl(229, 57%, 11%);
  padding: 10px 13px;
  border-radius: 10px;
  margin: 20px 5px;

}

.start{
  float:left;

}
.end{
  float:right;
}
.write{
  background-color: hsl(228, 56%, 26%);
    color: white;
    position: absolute;
    top: 220px;
    left: 660px;
    height: 70px;
    padding: 50px;
    border-radius: 20px;
    width: 30%;
.content{
  width:100%;
}
}
.base_img{
  position: relative;
  top: 265px;
}
.gigb-output {
margin-left: 25px;
}
.gb-tooltip {
    position: absolute;
    top: 11em;
    right: 28em;
    margin: auto;
    height: 80px;
    width: 190px;
    border-radius: 10px;
    background-color: #ffffff;
}
.tooltip-bubble {
  margin: 19px;
      font-size: 30px;}

input[type=range] {
          -webkit-appearance: none;
          width: 90%;
          border-radius: 10px;
          outline: none;
          background: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 80%, #0c122c 80%, #0c122c 100%);
          margin: auto;
      }
      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 1px solid var(--slider-thumb-border);
          height: 15px;
          width: 15px;
          border-radius: 80%;
          background: white;
          border: 1px solid var(--slider-thumb-border);
          cursor: pointer;
      }
      .arrow{

          position: absolute;
          top: 4.6em;
          right: 0em;
          height: 0px;
          width: 0px;
          border-left: 25px solid transparent;
          border-right: 0px solid transparent;
          border-top: 60px solid #ffffff;
        }
